<%= form_for(videogame) do |f| %>
  <% if videogame.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(videogame.errors.count, "error") %> prohibited this videogame from being saved:</h2>

      <ul>
      <% videogame.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :platform %>
    <%= f.collection_select :platform_id, Platform.order(:title),:id,:title, include_blank: true, class: "form-control" %>
  </div>

  <div class="actions form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
